@import '../../../assets/style.less';
#home-back-btn1 {
    background: none !important;
    border: none;
    padding: 0 !important;
    float: left;
    margin-left: 22px;
    position: relative;
    margin-top: 20px;
  
    &:focus {
      outline: none;
    }
  
    i {
      font-size: 2em;
      color: #colors[quaternary];
  
      &:hover {
        color: #colors[quinary];
        cursor: pointer;
      }
    }
  }

.inboxData{
    background-color: rgb(246, 246, 246);
    min-height: 50vh;
    margin-inline: 5vw;
    margin-top: 20px;
    border-radius: 20px;
}